@media (max-width: 1260px) {
    .frame-projeto {
        gap: 40px;
    }

    .img-projetos {
        height: 290px;
    }
}

@media (max-width: 1090px) {
    .sobre {
        flex-direction: column;
        gap: 10px;
    }

    .sobre h2 {
        visibility: hidden;
    }

    .sobre div:nth-child(1) {
        flex-direction: column-reverse;
        gap: 24px;
    }

    .sobre div .listLogo {
        flex-direction: row;
        margin-right: 0;
        align-items: center;
    }

    .frame-projeto {
        gap: 20px;
    }

    .sobre-projeto p {
        width: 400px;
    }

    .conteinter-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .conteinter-text div:nth-child(1) {
        flex-direction: column;
        gap: 0;
    }

    .conteiner-tecnologias {
        display: grid;
        grid-template-columns: 1fr repeat(2, 168px);
        gap: 10px;
    }

    .forms-contato input {
        width: 500px;
    }
}

@media (max-width: 990px) {
    .nav-bar {
        display: block;
        position: absolute;
        top: 82px;
        right: 0;
        width: 100%;
        background-color: #1A1A1A;
        height: 0;
        transition: 0.5s;
        visibility: hidden;
        overflow-y: hidden;
    }

    .nav-bar a {
        font-size: 2.125rem;
    }

    .nav-bar li {
        margin: 60px 60px 0 18px;
    }

    .active {
        height: calc(100vh - 80px);
        visibility: visible;
        overflow-y: auto;
    }

    .menu-mobile {
        display: block;
    }

    .menu-mobile-active {
        border-top-color: transparent;
        position: relative;
    }

    .menu-mobile-active::before {
        transform: rotate(135deg);
    }

    .menu-mobile-active::after {
        transform: rotate(-135deg);
        position: absolute;
        top: 0;
    }

    .frame-projeto:nth-child(even),
    .frame-projeto:nth-child(odd) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .frame-projeto:nth-child(even) .img-projetos,
    .frame-projeto:nth-child(odd) .img-projetos {
        border-radius: 10px 10px;
    }

    .sobre-projeto {
        align-items: center;
        text-align: center;
    }

    footer {
        flex-direction: column;
        gap: 15px;
        margin: 15px 0 0 0;
    }
}

@media (max-width: 880px) {
    .contatos {
        gap: 52px;
        height: 100%;
        margin-bottom: 90px;
    }

    .contatos h2 {
        visibility: hidden;
    }

    .conteiner-contatos {
        flex-direction: column;
    }

    .forms-contato {
        align-items: center;
        margin-bottom: 52px;
    }

    .conteiner-logos {
        grid-template-columns: 1fr repeat(2, 158px);
    }

    .conteiner-logos a {
        width: 158px;
        height: 100px;
        display: flex;
        padding: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .conteiner-logos a p:last-of-type {
        text-align: center;
        width: 128px;
        word-wrap: break-word;
    }
}

@media (max-width: 710px) {
    header {
        padding: 0 34px;
    }

    header .logo,
    footer .logo {
        height: 47px;
    }

    .menu-mobile {
        width: 30px;
    }

    .menu-mobile::before,
    .menu-mobile::after {
        width: 30px;
    }

    .hero-section h1 {
        font-size: 4rem;
    }

    .hero-section h2 {
        font-size: 1.5rem;
    }

    .hero-section .linha {
        width: 363px;
    }

    .sobre p {
        width: 422px;
    }

    .sobre .minhaImagem {
        height: 382px;
    }

    .projetos {
        gap: 80px;
    }

    .img-projetos {
        height: 210px;
    }
}

@media (max-width: 570px) {
    .nav-bar a {
        font-size: 1.25rem;
    }

    .hero-section h1 {
        font-size: 3.125rem;
    }

    .hero-section h2 {
        font-size: 1.25rem;
    }

    .hero-section h3 {
        font-size: 1.75rem;
    }

    .hero-section .linha {
        width: 270px;
    }

    .sobre h1,
    .projetos h1,
    .tecnologia h1,
    .contatos h1 {
        font-size: 2.5rem;
    }

    .conteinter-text p {
        font-size: 1rem;
        width: 360px;
    }

    .conteiner-tecnologias {
        display: grid;
        grid-template-columns: 1fr repeat(2, 128px);
        gap: 10px;
    }

    .conteiner-tecnologias div {
        height: 146px;
        width: 128px;
        border-radius: 10px;
    }

    .conteiner-tecnologias img {
        height: 60px;
    }

    .forms-contato input {
        width: 350px;
    }

    .conteiner-logos {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 450px) {
    .hero-section h1 {
        font-size: 2.5rem;
        margin-top: 5px;
    }

    .hero-section h2 {
        font-size: 1rem;
        width: 120px;
    }

    .hero-section h3 {
        font-size: 1.25rem;
    }

    .hero-section .linha {
        width: 220px;
    }

    .sobre .minhaImagem {
        height: 352px;
    }

    .projetos .img-projetos {
        height: 190px;
    }

    .img-IMC {
        border: 15px solid #EB4947;
    }

    .img-Exam {
        border: 15px solid #2BC623;
    }

    .img-todolist {
        border: 15px solid #617FEC;
    }

    .sobre-projeto h2 {
        font-size: 1.75rem;
    }

    .sobre-projeto p {
        font-size: 1rem;
    }

    .conteiner-tecnologias {
        display: grid;
        grid-template-columns: 1fr repeat(1, 138px);
    }

    .conteiner-tecnologias div {
        height: 146px;
        width: 138px;
        border-radius: 10px;
    }

    .conteiner-tecnologias img {
        height: 50px;
    }

    .nav-bar-footer a {
        font-size: 0.75rem;
    }
}

@media (max-width: 400px) {
    .projetos .img-projetos {
        height: 170px;
    }

    .forms-contato input {
        width: 330px;
    }

    .frame-projeto p{
        width: 300px;
    }
    .conteinter-text p {
        width: 300px;
    }

    .conteiner-logos {
        margin: 0 30px;
    }
}