:root {
    --primary-color: #1A1A1A;
    --transparent-primary-color: #C9BFBF;
    --secondary-color: #5BA0E0;
    --gray-color: #444444;
}

/* estilização do scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: var(--transparent-primary-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
    border-radius: 50px;
}

/* estlização das tags */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary-color);
    font-family: 'Raleway', sans-serif;
    color: #FFF;
    font-weight: 400;
}

section {
    height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
}


/* estilização do header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 83px;
    width: 100%;
    padding: 0 120px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--primary-color);
}

.nav-bar {
    display: flex;
    list-style: none;
}

.nav-bar li:nth-child(-n+3) {
    margin-right: 18px;
}

.nav-bar a {
    font-size: 1.25rem;
    position: relative;
    cursor: pointer;
}

.nav-bar a:hover {
    color: var(--secondary-color);
}

.nav-bar a::after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: var(--secondary-color);
    transition: 0.3s ease-in-out;
}

.nav-bar a:hover::after {
    width: 100%;
}

/* estilização do main */

main {
    margin-top: 40px;
}

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(41.65% 41.65% at 50% 50%, #2E2E2D 0%, rgba(39, 39, 39, 0.00) 100%);
}

.hero-section div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    margin-bottom: -18px;
}

.hero-section div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.hero-section h3 {
    font-size: 2rem;
    color: var(--transparent-primary-color);
    font-weight: 400;
    margin-right: 32px;
}

.hero-section .linha {
    width: 498px;
    height: 4px;
    background-color: var(--secondary-color);
    border-radius: 5px;
}

.hero-section h1 {
    font-size: 5rem;
    font-family: 'Archivo Black', sans-serif;
    text-transform: uppercase;
}

.hero-section h2 {
    color: var(--secondary-color);
    font-size: 1.75rem;
    font-weight: 400;
    width: 196px;
    text-align: right;
}

/* estlização da section sobre */
.sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 54px;
    position: relative;
    overflow: hidden;
}

.sobre div:nth-child(1) {
    display: flex;
    justify-content: center;
}

.listLogo {
    display: flex;
    flex-direction: column;
    margin-right: 44px;
    gap: 24px;
}

.sobre h1 {
    font-size: 3rem;
    font-family: 'Archivo Black', sans-serif;
}

.sobre .linha {
    height: 3px;
    width: 73px;
    border-radius: 5px;
    background-color: var(--secondary-color);
    margin-bottom: 10px;
}

.sobre p {
    font-size: 1.25rem;
    width: 526px;
    line-height: 30px;
}

.sobre h2 {
    position: absolute;
    right: -110px;
    top: -30px;
    font-size: 18.75rem;
    font-family: 'Archivo Black', sans-serif;
    color: #242424;
    z-index: -1000;
}

/*estlização da section projetos*/
.projetos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 124px;
    margin-top: 124px;
    height: 100%;
}

.projetos h1 {
    font-size: 3rem;
    font-family: 'Archivo Black', sans-serif;
}

.projetos .linha {
    height: 3px;
    width: 80px;
    border-radius: 5px;
    background-color: var(--secondary-color);
}

.frame-projeto {
    display: flex;
    width: 100%;
    gap: 116px;
}

.frame-projeto:nth-child(even) {
    justify-content: start;
}

.frame-projeto:nth-child(even) .img-projetos {
    border-radius: 0 10px 10px 0;
}

.frame-projeto:nth-child(odd) {
    justify-content: end;
    flex-direction: row-reverse;
}

.frame-projeto:nth-child(odd) .img-projetos {
    border-radius: 10px 0 0 10px;
}

.img-IMC {
    border: 25px solid #EB4947;
}

.img-Exam {
    border: 25px solid #2BC623;
}

.img-todolist {
    border: 25px solid #617FEC;
}

.sobre-projeto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

.sobre-projeto h2 {
    font-family: 'Archivo Black', sans-serif;
    font-size: 2rem;
}

.sobre-projeto p {
    font-size: 1.25rem;
    width: 457px;
    line-height: 30px;
    color: var(--transparent-primary-color);
}

.frame-tecnologias {
    display: flex;
    gap: 10px;
    align-items: center;
}

.frame-tecnologias img {
    filter: grayscale(100%);
    height: 32px;
}

.frame-tecnologias img:hover {
    filter: none;
    cursor: pointer;
}

.circulo-logo {
    width: 4px;
    height: 4px;
    background-color: var(--secondary-color);
    border-radius: 100%;
}

.btn-saiba-mais {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 266px;
    height: 50px;
    border-radius: 5px;
    background-color: var(--secondary-color);
}

.btn-saiba-mais a {
    font-size: 1.25rem;
    padding: 12px 80px;
}

/*estlização da seção de tecnologias*/
.tecnologia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 124px;
    gap: 60px;
}

.tecnologia h1 {
    font-size: 3rem;
    font-family: 'Archivo Black', sans-serif;
}

.tecnologia .linha {
    height: 3px;
    width: 154px;
    border-radius: 5px;
    background-color: var(--secondary-color);
}

.conteiner-tecnologias {
    display: grid;
    /* grid-template-rows: 2; */
    grid-template-columns: 1fr repeat(5, 168px);
    gap: 10px;
}

.conteiner-tecnologias div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    height: 186px;
    width: 168px;
    border-radius: 10px;
    background-color: var(--gray-color);
    border-bottom: 3px solid var(--secondary-color);
}

.conteiner-tecnologias h4{
    font-size: 1.25rem;
    font-weight: 400;
}